*{
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f4f4f4;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
  margin: 20px auto;
  color: white;
  background-color: #333;
  padding:10px ;
  font-size: 18px;
  border: 1px solid #3333;
}

img{
  width: 250px;
  height: 250px;
  margin: 10px;
}
